In [1]:
!pip install pandas
!pip install numpy
import os
from pathlib import Path
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /Users/scheiner/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/scheiner/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/scheiner/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/scheiner/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/scheiner/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /Users/scheiner/anaconda3/lib/python3.11/site-packages (1.24.3)

In [3]:
caminho= Path.cwd()
caminho

PosixPath('/Users/scheiner/Documents/GitHub/StatusInvest')

In [4]:
internacional = pd.read_csv('internacional.csv', sep=';', decimal=',', encoding='ISO-8859-1')
internacional = pd.DataFrame(internacional)

In [5]:
internacional

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
0,A,"119,48","0,74","25,99","6,07","3,25","54,59","24,57","19,19","17,37",...,0.54,0.46,0.65,8.90,12.89,NaN,"19,73","4,61",NaN,"35.113.120.000,00"
1,AA,"28,43","1,40","-3,46","1,05","0,36","6,30","-10,53","-13,56","-9,42",...,0.34,0.66,0.77,1.34,NaN,NaN,"27,13","-8,26",NaN,"5.105.443.056,00"
2,AACG,"1,22",NaN,"-3,72","1,68","0,54","51,68","-31,49","-32,34",NaN,...,0.32,0.68,0.44,106.31,NaN,NaN,"0,72","-0,33",NaN,"38.534.798,00"
3,AACQ,"9,99",NaN,"-93,43","180,94","1,25",NaN,NaN,NaN,NaN,...,0.01,0.12,0.00,NaN,NaN,NaN,"0,06","-0,11",NaN,"904.719.375,00"
4,AACQU,"11,05",NaN,"-103,35","200,14","1,38",NaN,NaN,NaN,NaN,...,0.01,0.12,0.00,NaN,NaN,NaN,"0,06","-0,11",NaN,"904.719.375,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6168,ZUO,"8,91",NaN,"-6,38","11,94","1,84","61,98","-40,35","-47,81","-9,88",...,0.15,0.85,0.60,18.28,NaN,NaN,"0,76","-1,41",NaN,"1.237.999.510,00"
6169,ZVO,"0,09",NaN,"-0,08","0,47","0,04","35,09","-17,75","-17,80","-0,09",...,0.08,0.92,2.69,-12.86,NaN,NaN,"0,19","-1,20",NaN,"3.078.549,00"
6170,ZYME,"7,52",NaN,"3,02","1,14","0,85","100,00","40,70","37,58","2,62",...,0.75,0.25,0.75,51.45,NaN,NaN,"6,62","2,50",NaN,"511.413.318,00"
6171,ZYNE,"1,33",NaN,"-1,96","1,84","1,48",NaN,NaN,NaN,"-1,97",...,0.80,0.20,0.00,NaN,NaN,NaN,"0,72","-0,68",NaN,"71.739.402,00"
6172,ZYXI,"7,62",NaN,"16,02","4,44","1,81","79,53","12,60","9,72","10,65",...,0.41,0.59,1.16,46.51,18.28,NaN,"1,73","0,48",NaN,"276.267.095,00"