In [ ]:
import pandas as pd
import numpy as np

In [ ]:
fundos = pd.read_csv('fundos.csv', sep=';', decimal=',', encoding='ISO-8859-1')
fiis = pd.DataFrame(fundos)

In [4]:
fiis

,TICKER,PRECO,ULTIMO DIVIDENDO,DY,VALOR PATRIMONIAL COTA,P/VP,LIQUIDEZ MEDIA DIARIA,PERCENTUAL EM CAIXA,CAGR DIVIDENDOS 3 ANOS,CAGR VALOR CORA 3 ANOS,PATRIMONIO,N COTISTAS,GESTAO,N COTAS
0,ABCP11,"69,38","0,500000","8,24","91,86","0,76","56.025,71","1,53",13.72,-7.94,"432.552.807,00","17.906,00",Passiva,"4.709.082,00"
1,AFHI11,"97,00","1,050000","13,01","95,95","1,01","1.407.442,80","2,10",NaN,NaN,"289.711.187,37","22.313,00",Ativa,"3.019.453,00"
2,AIEC11,"70,05","0,760000","12,92","94,70","0,74","627.494,27","2,47",NaN,NaN,"456.945.283,72","15.088,00",Ativa,"4.824.987,00"
3,ALMI11,"800,00","0,371133","0,00","2.030,94","0,39","61.584,90","2,24",NaN,-12.64,"225.793.787,83","2.367,00",Passiva,"111.177,00"
4,ALZC11,"0,00",NaN,"0,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1.000.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,XPPR11,"22,48","0,100000","10,68","70,49","0,32","302.071,63","3,67",-29.33,-37.65,"515.697.388,77","61.991,00",Ativa,"7.316.171,00"
467,XPSF11,"8,65","0,075000","10,59","8,81","0,98","697.661,51","1,24",0.78,-3.81,"381.685.180,11","46.486,00",Ativa,"43.302.140,00"
468,YUFI11,"94,99","0,297990","3,06","101,69","0,93","184,00","13,17",NaN,NaN,"50.098.006,90","55,00",Ativa,"492.650,00"
469,ZAVI11,"128,00","1,120000","8,73","135,22","0,95","222.406,95","6,33",NaN,NaN,"158.659.136,14","3.311,00",Ativa,"1.173.322,00"
470,ZIFI11,"860,00","3,304958","0,00","1.205,80","0,71","26.259,56","0,00",NaN,NaN,"57.257.472,65","65,00",Ativa,"47.485,00"